.autoCompleteContent{
	width: 200px;
	height: 300px;
	position: absolute;
	overflow: auto;
	background: #FFFFFF;
	border: 1px solid black;
	box-shadow: 0 0 5px 2px #aaa;
	z-index: 10001;
}

.autoCompleteListItem{
	border-bottom: 1px solid #F5F5F5;
	padding: 5px;
}

.autoCompleteListItem:hover{
	transition: box-shadow 0.5s ease;
	background: #F9FFFF;
	box-shadow: inset 0 0 5px 2px #C0FFFF;
}

.listHover{
	transition: box-shadow 0.5s ease;
	background: #F9FFFF;
	box-shadow: inset 0 0 5px 2px #C0FFFF;
}